/**
 * Custom Media Queries
 * Works like Custom Properties, except for media queries.
 *
 * @link: https://drafts.csswg.org/mediaqueries-5/#custom-mq
 **/

@custom-media --narrow-menu-query screen and (max-width: 37.5em);
@custom-media --wide-menu-query screen and (min-width: 37.5em);
@custom-media --medium-only-query screen and (min-width: 37.51em) and (max-width: 47.99em);
@custom-media --medium-down-query screen and (max-width: 48em);
@custom-media --medium-up-query screen and (min-width: 37.51em);
@custom-media --content-query screen and (min-width: 48em);
@custom-media --sidebar-query screen and (min-width: 60em);
