/**
 * Custom Properties
 * aka CSS variables.
 *
 * @link: https://developer.mozilla.org/en-US/docs/Web/CSS/--*
 **/

:root {
	--global-font-color: #6e6e6e;
	--global-font-family: "jost_l", "Roboto Condensed", "Helvetica Neue", "Arial Narrow", sans-serif;
	--link-font-family: "jost_m", "Roboto Condensed", "Helvetica Neue", "Arial Narrow", sans-serif;
	--widget-title: var(--link-font-family);
	--global-font-size: 14;
	--global-font-line-height: 1.4;
	--highlight-font-family: "EB Garamond", "Crimson Text", serif;
	/* --content-width: 45rem; */
	--content-width: 1200px;
	--dropdown-symbol-width: 0.7em;
	--nav-transform-speed: 0.3s;

	/* Global Padding/Margins */
	--global-spacing-x: 0.9375rem;

	--box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);

	/* Custom editor colors */
	--color-theme-primary: #e36d60;
	--color-theme-secondary: #41848f;
	--color-theme-red: #c0392b;
	--color-theme-green: #27ae60;
	--color-theme-blue: #2980b9;
	--color-theme-yellow: #f1c40f;
	--color-theme-black: #000;
	--color-theme-grey: #f0f0ec;
	--color-theme-white: #fff;
	--color-custom-daylight: #97c0b7;
	--color-custom-sun: #eee9d1;

	--color-link: #6e6e6e;
	--color-link-visited: #333;
	--color-link-active: #474747;

	--link-decoration: none;

	--color-quote-border: #000;
	--color-quote-citation: #6c7781;

	/* Custom editor font sizes */
	--font-size-small: calc(16 / var(--global-font-size) * 1rem);
	--font-size-regular: calc(var(--global-font-size) / 16 * 1rem);
	--font-size-medium: calc(36 / var(--global-font-size) * 1rem);
	--font-size-large: calc(36 / var(--global-font-size) * 1rem);
	--font-size-larger: calc(48 / var(--global-font-size) * 1rem);

	/*	hamburger menu */
	--hamburger-padding-x: 15px !default;
	--hamburger-padding-y: 15px !default;
	--hamburger-layer-width: 40px !default;
	--hamburger-layer-height: 4px !default;
	--hamburger-layer-spacing: 6px !default;
	--hamburger-layer-color: #000 !default;
	--hamburger-layer-border-radius: 4px !default;
	--hamburger-hover-opacity: 0.7 !default;
	--hamburger-active-layer-color: var(--hamburger-layer-color) !default;
	--hamburger-active-hover-opacity: var(--hamburger-hover-opacity) !default;

	/* To use CSS filters as the hover effect instead of opacity,
	// set --hamburger-hover-use-filter as true and
	// change the value of --hamburger-hover-filter accordingly. */
	--hamburger-hover-use-filter: false !default;
	--hamburger-hover-filter: opacity(50%) !default;
	--hamburger-active-hover-filter: var(--hamburger-hover-filter) !default;

	--test-width: 50vw;
	--after-toogle-width: calc(var(--test-width) * -1 + 55px);
}

@media (--narrow-menu-query) {
	:root {
		--test-width: 75vw;
	}
}
