/*--------------------------------------------------------------
# FONTS
--------------------------------------------------------------*/
@font-face {
	font-family: "EB Garamond";
	src: url('../fonts/EBGaramond-Regular.eot');
	src:
		url('../fonts/EBGaramond-Regular.eot?#iefix') format("embedded-opentype"),
		url('../fonts/EBGaramond-Regular.woff2') format("woff2"),
		url('../fonts/EBGaramond-Regular.woff') format("woff"),
		url('../fonts/EBGaramond-Regular.ttf') format("truetype");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "jost_m";
	src: url('../fonts/Jost-Medium.eot');
	src:
		url('../fonts/Jost-Medium.eot?#iefix') format("embedded-opentype"),
		url('../fonts/Jost-Medium.woff2') format("woff2"),
		url('../fonts/Jost-Medium.woff') format("woff"),
		url('../fonts/Jost-Medium.ttf') format("truetype");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "jost_l";
	src: url('../fonts/Jost-Light.eot');
	src:
		url('../fonts/Jost-Light.eot?#iefix') format("embedded-opentype"),
		url('../fonts/Jost-Light.woff2') format("woff2"),
		url('../fonts/Jost-Light.woff') format("woff"),
		url('../fonts/Jost-Light.ttf') format("truetype");
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: josthairline;
	src: url('../fonts/jost-100-hairline.eot');
	src:
		url('../fonts/jost-100-hairline.eot?#iefix') format('embedded-opentype'),
		url('../fonts/jost-100-hairline.woff2') format('woff2'),
		url('../fonts/jost-100-hairline.woff') format('woff'),
		url('../fonts/jost-100-hairline.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: jostthin;
	src: url('../fonts/jost-200-thin.eot');
	src:
		url('../fonts/jost-200-thin.eot?#iefix') format('embedded-opentype'),
		url('../fonts/jost-200-thin.woff2') format('woff2'),
		url('../fonts/jost-200-thin.woff') format('woff'),
		url('../fonts/jost-200-thin.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "fa_reg";
	font-style: normal;
	font-weight: 400;
	font-display: auto;
	src: url('../fonts/fa-regular-400.eot');
	src:
		url('../fonts/fa-regular-400.eot?#iefix') format("embedded-opentype"),
		url('../fonts/fa-regular-400.woff2') format("woff2"),
		url('../fonts/fa-regular-400.woff') format("woff"),
		url('../fonts/fa-regular-400.ttf') format("truetype");
}

@font-face {
	font-family: "fa_light";
	font-style: normal;
	font-weight: 300;
	font-display: auto;
	src: url('../fonts/fa-light-300.eot');
	src:
		url('../fonts/fa-light-300.eot?#iefix') format("embedded-opentype"),
		url('../fonts/fa-light-300.woff2') format("woff2"),
		url('../fonts/fa-light-300.woff') format("woff"),
		url('../fonts/fa-light-300.ttf') format("truetype");
}

@font-face {
	font-family: "fa_brands";
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url("../fonts/fa-brands-400.eot");
	src: url("../fonts/fa-brands-400.eot?#iefix") format("embedded-opentype"), url("../fonts/fa-brands-400.woff2") format("woff2"), url("../fonts/fa-brands-400.woff") format("woff"), url("../fonts/fa-brands-400.ttf") format("truetype");
}

.fab {
	font-family: 'fa_brands';
	font-style: normal;
}

.fa,
.far,
.fal {
	font-style: normal;
}

.far {
	font-family: 'fa_reg';
	font-weight: 400;
}

.fal {
	font-family: 'fa_light';
	font-weight: 300;
}

.fa-chevron-left:before {
	content: "\f053";
}

.fa-chevron-right:before {
	content: "\f054";
}

.fa-5x {
	font-size: 5em;
}
