.grid-container,
.nav-links {
	max-width: 1200px;
	display: grid;
	margin: 0 auto;
	padding: 0 var(--global-spacing-x);
	grid-template-columns: repeat(12, 1fr);
	/* grid-template-columns: minmax(250px, 1fr) 1fr; */
	/* grid-gap: 1rem; */
	grid-gap: 1rem;

}

.nav-links {
	grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
}

.archive-grid {
	/* grid-gap: 2rem; */
	display: grid;
	grid-template-columns: repeat(30, 1fr);

	& .entry {
		grid-column: auto / span 6;
	}

	& .pagination {
		grid-column: span 30;
	}
}

.search-grid {

	& .page-header {
		grid-column: 1/span 30;
	}

	& .entry-header {
		margin-top: 0;
	}
}

.installation_post {
	grid-template-columns: minmax(0, 1200px);

	& header {
		padding: 0;
	}

	& .product-slider {
		width: 100%;
		display: block;
		height: 100%;
	}
}

@media (--medium-only-query) {

	.archive-grid {

		& .entry {
			grid-column: span 10;
		}
	}
}

@media (--narrow-menu-query) {
	.archive-grid {
		grid-gap: 0;

		& .entry {
			grid-column: auto/span 15;
		}

		& .installation_post {

			/* margin: 0 10px; */
			&:nth-child(odd) {
				margin-right: 10px;
			}

			&:nth-child(even) {
				margin-left: 10px;
			}
		}
	}
}

@media (--medium-down-query) {

	.nav-links {
		grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
	}
}

.entry {
	/* grid-column: span 4; */
}

.pagination {
	grid-column: span 12;
}

.col {
	max-width: 100%;
}

.col-3 {
	grid-column: auto /span 3;
}

.col-4 {
	grid-column: auto /span 3;
}

.col-6 {
	grid-column: auto /span 6;
}

.col-12 {
	grid-column: 1 / span 12;
	max-width: 100%;
}

.col-3 {

	&.push-4 {
		grid-column: 5 /span 4;
	}
}

@media (--content-query) {

	.col-m-6 {
		grid-column: 1 / span 6;
	}
}

@media (--narrow-menu-query) {

	.col,
	.col-2,
	.col-3,
	.col-4,
	.col-5,
	.col-6,
	.col-7,
	.col-8,
	.col-9,
	.col-10,
	.col-11 {
		grid-column: 1 / span 12;
	}

	/* .entry {
		grid-column: span 6;
	} */
}

.col {
	&.offset-3 {
		grid-column-start: 4;
	}
}
