@import "_custom-properties.css";

/*--------------------------------------------------------------
# Links
--------------------------------------------------------------*/
/* stylelint-disable */
a {
	font-family: var(--link-font-family);
	color: var(--color-link);
	text-decoration: var(--link-decoration);
}

/* stylelint-enable */

/* a:visited {
	color: var(--color-link-visited);
} */

a:hover,
a:focus,
a:active {
	color: var(--color-link-active);
}

a:focus {
	outline: thin dotted;
}

a:hover,
a:active {
	outline: 0;
}

.button,
.entry-content .button {
	background-color: #6e6e6e;
	padding: 0.5rem 0.75rem;
	color: #fff;
	display: inline-block;

	&:visited {
		color: #fff;
	}

	&:hover {
		background-color: #a6a6a6;
		color: #fff;
	}
}
