*,
*::after,
*::before {
	box-sizing: border-box;
}

.sticky-header {
	position: fixed;
	top: 0;
	width: 100%;
	margin: 0 auto;
	z-index: 6000;
	transition: all 0.3s ease-in-out;

	&.white-bg {
		box-shadow: 0 0 3px #ccc;
	}

	& .grid-container {
		margin: 0 auto;
		padding: 1.25rem var(--global-spacing-x) var(--global-spacing-x);
		grid-template-columns: 1fr auto;
		grid-template-areas: "branding toggle";
	}
}

@media (--narrow-menu-query) {
	.sticky-header {
		& .grid-container {
			grid-template-columns: 150px 1fr;
		}
	}

	.menu-toggle {
		justify-items: end;

		& .search-form {
			width: 90px;

			& .search-input {
				position: absolute;
				top: 0;
				width: 200px;
				right: 0;
				border-radius: 0;
			}
		}
	}

	.menu-trigger {
		position: relative;
		top: 8px
	}
}

.site-branding {
	grid-area: branding;

	& a {
		display: inline-block;
	}
}

.menu-toggle {
	grid-area: toggle;
	transition: all var(--nav-transform-speed);
	z-index: 10000;
}

/* .menu-toggle::after {
	position: fixed;
	top: 0;
	opacity: 0;
	width: var(--test-width);
	transition: all var(--nav-transform-speed);
	background: #fff;
	height: 96px;
	content: "";
	z-index: 7000;
	width: 50vw;
	box-shadow: 0 -3px 2px #6e6e6e;
	transform: translate3d(55%, 0, 0);
	transform: translate3d(0, 0, 0);
	visibility: hidden;
} */

.menu-trigger {
	padding-left: var(--global-spacing-x);
}

.mp-pushed {

	& .search-glass,
	& .menu-trigger {
		position: fixed;
		z-index: 8000;
		top: 23px;
	}

	& .menu-trigger {
		right: 0;
	}

	& .menu-toggle {
		&::after {
			transform: translate3d(-55.15%, 0, 0);
			visibility: visible;
			opacity: 1;
		}
	}
}

.container,
.scroller {
	height: 100%;
}

.scroller {
	overflow-y: scroll;
}

.scroller,
.scroller-inner {
	position: relative;
}

.container {
	position: relative;
	overflow: hidden;
}

.nav-container {
	position: fixed;
	height: 100vh;
	right: 0;
	top: 0;
	z-index: 7000;
	background-color: #fff;
	width: 0;
	transition: all var(--nav-transform-speed);
	box-shadow: 0 2px 2px #6e6e6e;
}

.mp-pushed {
	& .nav-container {
		width: var(--test-width);
	}
}

.mp-pusher {
	position: relative;
	right: 0;
	height: 100%;
}

.mp-level {
	position: absolute;
	top: 0;
	background-color: #fff;
	right: 0;
	width: 100%;
	height: 100%;
	transform: translate3d(+100%, 0, 0);

	& .mp-level {
		top: 47px;

		& .mp-level {
			top: 0;
		}
	}
}

.active-li>a::after {
	transform: rotate(90deg);
}

.mp-menu {
	position: absolute;
	/* we can't use fixed here :( */
	/* top: 92px; */
	top: 65px;

	/*left: 0;*/
	right: 0;
	z-index: 8000;
	width: var(--test-width);
	height: 100%;
	transition: all var(--nav-transform-speed);
	transform: translate3d(100%, 0, 0);
}

/* overlays for pusher and for level that gets covered */
.mp-pusher::after,
.mp-level::after,
.mp-level::before {
	position: absolute;
	top: 0;
	right: 0;
	width: 0;
	height: 0;
	content: "";
	opacity: 0;
}

.mp-level::after {
	z-index: -1;
}

.mp-pushed .mp-menu {
	transform: translate3d(0, 0, 0);
	opacity: 1;
}

.mp-pusher.mp-pushed::after,
.mp-level.mp-level-overlay::after {
	width: 100%;
	height: 100%;
	opacity: 1;
	transition: opacity var(--nav-transform-speed);
}

.mp-level.mp-level-overlay {
	cursor: pointer;
}

.mp-level.mp-level-overlay.mp-level::before {
	width: 100%;
	height: 100%;
	background-color: transparent;
	opacity: 1;
}

.mp-pusher,
.mp-level,
.mp-menu {
	transition: all var(--nav-transform-speed);
}

/* overlap */
.mp-overlap .mp-level.mp-level-open {
	transform: translate3d(-40px, 0, 0);
}

/* First level */
.mp-menu>.mp-level,
.mp-menu>.mp-level.mp-level-open,
.mp-menu.mp-overlap>.mp-level,
.mp-menu.mp-overlap>.mp-level.mp-level-open {
	box-shadow: none;
	transform: translate3d(0, 0, 0);
}

/* cover */
.mp-cover .mp-level.mp-level-open {
	transform: translate3d(0, 0, 0);
}

.mp-cover .mp-level.mp-level-open>ul>li>.mp-level:not(.mp-level-open) {
	transform: translate3d(+100%, 0, 0);
}

/* content style */
.mp-menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.mp-menu h2 {
	margin: 0;
	padding: 1em;
	color: rgba(0, 0, 0, 0.4);
	font-weight: 300;
	font-size: 2em;
}

.mp-menu.mp-overlap h2::before {
	position: absolute;
	top: 0;
	right: 0;
	margin-right: 8px;
	font-size: 75%;
	line-height: 1.8;
	opacity: 0;
	transition: opacity var(--nav-transform-speed), transform 0.1s var(--nav-transform-speed);
	transform: translateX(-100%);
}

.mp-menu.mp-cover h2 {
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 1px;
	font-size: 1em;
}

.mp-overlap .mp-level.mp-level-overlay>h2::before {
	opacity: 1;
	transition: transform var(--nav-transform-speed), opacity var(--nav-transform-speed);
	transform: translateX(0);
}

.mp-menu {

	& ul {

		& li {
			&>a {
				display: block;
				padding: 0.7em 1em 0.7em 1.8em;
				outline: none;
				font-size: 1.2em;
				font-size: 1.2em;
				text-transform: uppercase;
				font-family: "jost_l";
				transition: background var(--nav-transform-speed), box-shadow var(--nav-transform-speed);
			}

			@media (--narrow-menu-query) {
				&>a {
					font-size: 0.95rem;
					padding: 0.5em 1em 0.5em 1.8em;
				}
			}
		}

		& .fa-instagram,
		& .fa-play-circle {
			/* padding: 0.7em 1em 0.7em 0; */
			line-height: 46.55px;

			&::before {
				position: static;
				padding-left: 1.8rem;
				font-size: 2rem;
				line-height: 1;
				line-height: 46.55px;
			}

			&:hover {
				background-color: rgba(0, 0, 0, .1);

				& a {
					background-color: transparent;
				}
			}

			& a {
				display: inline;
				padding-left: 0.5rem;
			}
		}

		& .fa-play-circle {
			&::before {
				font-size: 1.75rem;
			}
		}
	}

	@media (--narrow-menu-query) {
		& .submenu {
			& li {
				&>a {
					font-size: 0.9rem;
				}
			}
		}
	}
}

.mp-menu .fa-instagram,
.mp-menu .fa-instagram:before,
.mp-menu .fa-instagram a,
.mp-menu .fa-play-circle,
.mp-menu .fa-play-circle:before,
.mp-menu .fa-play-circle a {
	vertical-align: middle;
}

.mp-menu ul li::before {
	position: absolute;
	left: 10px;
	z-index: -1;
	color: rgba(0, 0, 0, 0.2);
	line-height: 3.5;
}

.mp-menu ul li a:hover,
.mp-level>ul>li:first-child>a:hover {
	background-color: rgba(0, 0, 0, 0.1);
}

/* seems like Chrome 34.0.1847.131 needs the second shadow otherwise the transition breaks */

.mp-back {
	background-color: rgba(0, 0, 0, 0.1);
	outline: none;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	display: block;
	font-size: 0.8em;
	padding: 1em;
	position: relative;
	transition: background var(--nav-transform-speed);
}

.mp-back::after {
	/* font-family: 'linecons'; */
	font-family: "fa_light";
	position: absolute;
	content: "\f137";
	right: 10px;
	font-size: 1.3em;
	color: rgba(0, 0, 0, 0.3);
}

.mp-menu .mp-level.mp-level-overlay>.mp-back,
.mp-menu .mp-level.mp-level-overlay>.mp-back::after {
	background-color: transparent;
	box-shadow: none;
	color: transparent;
}

/* Fallback ex for browsers not supporting 3D transforms (& no JS fallback) */

/* We'll show the first level only */
.no-csstransforms3d .mp-pusher,
.no-js .mp-pusher {

	/* padding-left: 300px; */
	padding-left: var(--test-width);
}

.no-csstransforms3d .mp-menu .mp-level,
.no-js .mp-menu .mp-level {
	display: none;
}

.no-csstransforms3d .mp-menu>.mp-level,
.no-js .mp-menu>.mp-level {
	display: block;
}

/* hamburger */
svg {
	height: 28px;
	width: 28px;
}

.hamburger {
	font-family: "Lato";
	display: inline-block;
	cursor: pointer;
	transition-property: opacity, filter;
	transition-duration: 0.15s;
	transition-timing-function: linear;
	font: inherit;
	color: inherit;
	text-transform: none;
	background-color: transparent;
	border: 0;
	margin: 0;
	padding: 0;
	overflow: visible;
}

.hamburger:hover {
	opacity: 0.7;
}

/* TESTING */

.menu-toggle.is-active {
	position: fixed;
	right: 0;
	top: 0;
	z-index: 10000;
	width: var(--test-width);
	background: #fff;
	height: 92px;
}


.hamburger.is-active:hover {
	opacity: 0.7;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
	background-color: #000;
}

.hamburger-box {
	width: 30px;
	height: 24px;
	display: inline-block;
	position: relative;
}

.is-active {
	& .hamburger-box {
		top: 5px;
	}
}

.hamburger-inner {
	display: block;
	top: 50%;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
	width: 30px;
	height: 1px;
	background-color: #000;
	position: absolute;
	transition-property: transform;
	transition-duration: 0.15s;
	transition-timing-function: ease;
}

.hamburger-inner::before,
.hamburger-inner::after {
	content: "";
	display: block;
}

.hamburger-inner::before {
	top: -10px;
}

.hamburger-inner::after {
	bottom: -10px;
}

/*
 * Slider
 */
.hamburger--slider .hamburger-inner {
	top: 2px;
}

.hamburger--slider .hamburger-inner::before {
	top: 10px;
	transition-property: transform, opacity;
	transition-timing-function: ease;
	transition-duration: 0.15s;
}

.hamburger--slider .hamburger-inner::after {
	top: 20px;
}

.hamburger--slider.is-active .hamburger-inner {
	transform: translate3d(0, 10px, 0) rotate(45deg);
}

.hamburger--slider.is-active .hamburger-inner::before {
	transform: rotate(-45deg) translate3d(-5.7142857143px, -6px, 0);
	opacity: 0;
}

.hamburger--slider.is-active .hamburger-inner::after {
	transform: translate3d(0, -20px, 0) rotate(-90deg);
}

.menu-text {
	display: block;
	text-align: center;
	font-size: 12px;
	position: relative;
	width: 30px;
	left: -2px;
	top: -4px;
	text-transform: uppercase;
}

.is-active .menu-text {
	opacity: 0;
}

/* .menu-toggle-container div {
	display: inline-block;
	vertical-align: top;
} */

.white-bg {
	background: #fff;
}

.menu-item-has-children>a::after {
	content: "\f054";
	display: inline-block;
	font-family: "fa_light";
	font-size: 1rem;
	margin-left: 0.5rem;
}

/* //////////////////////////////////
TESTING
*/

@media all and (max-width:600px) {
	.sticky-header {
		.grid-container {
			grid-template-columns: 115px 1fr;
		}

		.search-input {
			width: 80%;
		}
	}
}

.menu-toggle {
	grid-template-areas: "search menu";
	display: grid;
	grid-template-columns: 1fr 30px;

	& .search-form {
		grid-area: search;
	}

	& .menu-trigger {
		grid-area: menu;
	}
}

.search-form-input {
	text-align: right;
}

.search-form {
	padding: 0 0.875rem;
	position: relative;

	& .search-glass {
		position: absolute;
		right: 0;
		top: 8px;
	}

	& input {
		margin-top: 5px;
	}
}

/* REACT SEARCH */
.search-form {
	&>label {
		opacity: 0;
	}

	&>.search-submit {
		opacity: 0;
	}

	& .fa-times-circle::before {
		content: "\f057";
		visibility: hidden;
	}

	& .fa-spinner-third::before {
		content: "\f3f4";
		visibility: hidden;
	}
}

.search-input,
.search-form-input img {
	display: inline-block;
}

.search-form-input {
	position: relative;
	display: block;
	line-height: 1;

	& .search-input {
		vertical-align: top;
		/* margin-top: 10px; */
		padding: 5px;
		border: 0;
		border-bottom: 1px solid;
		transition: all 0.2s ease-in-out;
		visibility: hidden;
		background-color: transparent;
	}

	& .search-input {
		display: inline;
	}

	& img {
		display: inline;
	}
}

.showInput {
	& .search-input {
		visibility: visible;
	}
}

.reactSearchResults {
	text-align: left;
}

.activeSearch {
	& .reactSearchResults {
		position: absolute;
		padding: 1rem;
		top: 97%;
		left: 0;
		width: 300%;
		background-color: white;
		border: 1px solid #ccc;

		& img {
			display: inline;
			vertical-align: middle;
		}
	}

	& .fa-times-circle::before {
		visibility: visible;
	}

	& .fa-spinner-third::before {
		visibility: visible;
	}
}

@media (--narrow-menu-query) {
	.activeSearch {
		& .reactSearchResults {
			left: -130px;
			width: 250px;
			top: 140%;
		}
	}
}

.reactSearchResult:not(:first-child) {
	margin-top: 0.5rem;
}
