/**
 * Custom styles for the front-page.php template.
 */

@media (--sidebar-query) {

	.wp-block-image.alignleft,
	.wp-caption.alignleft {
		margin-left: 0;
	}

	.wp-block-image.alignright,
	.wp-caption.alignright {
		margin-right: 0;
	}

	.entry-footer {
		border-bottom: none;
	}

	.site-main .posts-navigation {
		width: 100%;
		margin-bottom: 0;
		padding: 2rem 0 0;
		border-top: 1px solid #111;
		border-bottom: none;
	}

}

/*SLIDER or FRONT IMAGES*/
.front-top-container {
	position: relative;
	min-height: 100.01vh;
	background-size: cover;
	background-repeat: no-repeat;
}

.tagline {
	position: absolute;
	bottom: 0;
	width: 100%;
	margin-bottom: 2rem;

	& h2 {
		font-size: 48px;
		margin: 0;
		color: #fff;
		text-shadow: 0 0 8px #000;
		font-weight: 400;
	}
}

@media (--narrow-menu-query) {
	.tagline {
		& h2 {
			font-size: 36px;
		}
	}
}

.slick-arrow {
	position: absolute;
	z-index: 5000;
	font-size: 1.6rem;
	opacity: 0.5;
	transition: 0.2s all ease-in-out;

	&:hover {
		opacity: 1;
		cursor: pointer;
	}
}

.slider-container {
	padding: 30px 0;
}

.front-products {

	& .slick-slide {
		width: 34vw;
		margin: 0 6.5vw;
		opacity: 0.5;
		transition: 0.2s all ease-in-out;
	}

	& .slick-active {
		opacity: 1;
	}

	& img {
		width: 280px;
		margin: 0 auto;
	}

	& .slick-track {
		padding-top: 4px;
	}

	& .slick-arrow {
		top: 127px;
	}

	& .slick-prev {
		left: 25vw;
	}

	& .slick-next {
		right: 25vw;
	}
}


/* VIDEO */

.video-container {
	min-height: 100vh;
	position: relative;

	& video {
		min-height: 100vh;
		min-width: 100vw;
	}
}

@media (--medium-down-query) {

	.video-container {
		min-height: auto;

		& video {
			min-height: 0;
			min-width: 0;
			width: 100%;
		}
	}
}


/* FRONT INSTALLATIONS */
.installations-container {
	grid-template-columns: repeat(1, minmax(0, 1fr));

	& img {
		margin: 0 auto;
	}

	& .slick-arrow {
		top: calc(100px - (1.6rem / 2));
		line-height: 1;
		height: 1.6rem;

		&:hover {
			cursor: pointer;
		}
	}

	& .slick-next {
		right: 0;
	}

	& .slick-slide {
		margin: 0 5px;
	}
}

.front-button {
	position: relative;
	min-height: 100vh;
	background-color: #000;
	background-position: center center;
	background-size: cover;
	z-index: 1000;

	& .button-mask {
		content: "";
		height: 100%;
		width: 100%;
		display: block;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		background: linear-gradient(270deg, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 1) 100%);
		background-repeat: no-repeat;
		z-index: -1;
	}

	& .grid-container {
		min-height: inherit;

		&>.col {
			align-self: center;
		}
	}

	& img {
		position: absolute;
		z-index: 1;
		height: 100%;
		width: auto;
	}

	& h2,
	& p {
		z-index: 1000;
		color: #fff;
		font-weight: 400;
	}

	& a {
		font-weight: 300;
		min-height: inherit;
		display: block;
	}

	& h2 {
		font-size: 36px;
		margin: 0;
	}

	& p {
		font-family: jostthin;
		font-size: 24px;
	}
}

.front-button.text-right {
	text-align: right;

	/* & .grid-container {
		justify-items: right;
	} */

	& .col-m-6 {
		grid-column: 7 / span 6;
	}

	& .button-mask {
		background: linear-gradient(90deg, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 1) 100%);
	}
}

@media (--narrow-menu-query) {
	.front-button.text-right {
		& .col-m-6 {
			grid-column: 1 / span 12;
		}
	}
}

/* SEE FOR YOURSELF section */

.front-button:last-child::after {
	background: rgba(0, 0, 0, 0.35);
}

/* INSTA FEED */

.insta-container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

.insta-feed-header {
	padding: 40px 0 30px;

	& i {
		display: block;
		font-size: 2rem;
	}

	& a {
		font-family: jost_l;
		font-size: 20px;
		font-weight: 400;
	}
}

#sb_instagram .sbi_follow_btn a {
	border-radius: 0;
}

.sbi_follow_btn {
	line-height: 1;
	margin: 2rem 0 0;

	& a {
		line-height: 1;
		margin: 0 !important;
	}
}

@media (--narrow-menu-query) {

	#sbi_images {
		grid-template-columns: repeat(2, 1fr);
	}

	#sb_instagram #sbi_images .sbi_item:last-child {
		display: none;
	}
}
