/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Imports
	# Custom properties
	# Reset
	# Typography
	# Elements
	# Links
# Accessibility
# Layout
# Forms
# Header
	# Main navigation menu
# Content navigation
# Footer
# Infinite scroll
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Imports
--------------------------------------------------------------*/
@import "_fonts.css";
@import "_navigation.css";
@import "_custom-properties.css";
@import "_reset.css";
@import "_grid.css";
@import "_typography.css";
@import "_elements.css";
@import "_links.css";
@import "_utility.css";

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/

/**
 * Text meant only for screen readers.
 * Re: word-wrap: Many screen reader and browser combinations announce broken
 * words as they would appear visually.
 */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	word-wrap: normal !important;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 0.875rem;
	font-weight: 700;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000;

	/* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#primary[tabindex="-1"]:focus {
	outline: 0;
}

/*--------------------------------------------------------------
# Layouts
--------------------------------------------------------------*/
html,
body {
	overflow-x: hidden;
}

.site {
	margin: 0 auto;
	max-width: 100%;
}

.footer-widgets {
	grid-template-areas: "one two three four";
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 2rem;

	& .widget {
		-ms-grid-row: 1;
	}

	& .widget:nth-child(1) {
		grid-area: one;
		/* grid-column: 1; */
	}

	& .widget:nth-child(2) {
		grid-area: two;
		/* grid-column: 2; */
	}

	& .widget:nth-child(3) {
		grid-area: three;
		/* grid-column: 3; */
	}

	& .widget:nth-child(4) {
		grid-area: four;
		/* grid-column: 4; */
	}
}

@media (--medium-down-query) {

	.footer-widgets {
		grid-template-areas: 'one two''three four';
		grid-template-columns: repeat(2, 1fr);
	}
}

@media all and (max-width: 410px) {

	.footer-widgets {
		display: block;
	}
}

@media (--sidebar-query) {

	.has-sidebar .site {

		/*margin: 0 1em;*/

		/*display: grid;*/

		/*grid-template-columns: 3fr 1fr;*/

		/*grid-gap: 2rem;*/

		/*justify-content: center;*/
	}

	.site-main {
		grid-column: 1;
		min-width: 0;
	}

	.primary-sidebar {
		grid-column: 2;
		min-width: 0;
	}

	.site-footer {
		grid-column: span 2;
	}
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
/* stylelint-disable */
textarea {
	width: 100%;
}

/* stylelint-enable */

/* stylelint-disable */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 0;
	border-color: #ccc #ccc #bbb;
	border-radius: 0;
	background: #e6e6e6;
	color: rgba(0, 0, 0, 0.8);
	font-size: 0.75rem;
	line-height: 1;
	padding: 0.6em 1em 0.4em;
	cursor: pointer;
}

/* stylelint-enable */

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	border-color: #ccc #bbb #aaa;
}

button:active,
button:focus,
input[type="button"]:active,
input[type="button"]:focus,
input[type="reset"]:active,
input[type="reset"]:focus,
input[type="submit"]:active,
input[type="submit"]:focus {
	border-color: #aaa #bbb #bbb;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: #666;
	border: 1px solid #ccc;
	padding: 3px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
	color: #111;
}

select {
	border: 1px solid #ccc;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

.header-image {
	margin: 0 auto;
}

.header-image img {
	display: block;
	margin: 0 auto;
}

.custom-logo-link {
	display: inline-block;
	margin: 0 auto 1em;
}

.site-branding {

	& a {
		display: inline-block;
	}
}

.site-title a {
	text-decoration: none;
	color: inherit;
}

.site-description {
	margin: 0.4375em 0 0;
	font-family: var(--highlight-font-family);
	font-stretch: condensed;
	font-size: 17px;
	font-weight: inherit;
	line-height: 1.4;
	word-wrap: break-word;
	color: #757575;
}

/*--------------------------------------------------------------
## Basic navigation menus - handles submenu and small screen toggle
--------------------------------------------------------------*/

/*--------------------------------------------------------------
## Main navigation menu
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Content navigation
--------------------------------------------------------------*/
.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation,
.site-main .pagination {
	border-bottom: 1px solid #111;
	margin: 0 auto 2em;
	max-width: var(--content-width);
	overflow: hidden;
	padding: 0 1.5rem 2em;
	font-family: var(--highlight-font-family);
	font-stretch: condensed;
}

@media (--content-query) {

	.site-main .comment-navigation,
	.site-main .posts-navigation,
	.site-main .post-navigation,
	.site-main .pagination {
		padding-left: 0;
		padding-right: 0;
	}
}

/* .comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
	width: 50%;
	flex: 1 0 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
	text-align: end;
	flex: 1 0 50%;
} */

.post-navigation-sub span {
	color: var(--global-font-color);
	text-decoration: none;
	display: inline-block;
}

.site-main .pagination {
	margin-bottom: 1.5em;
}

/* .pagination .nav-links {
	justify-content: center;
	flex-wrap: wrap;
} */

.pagination .page-numbers {
	display: inline-block;
	margin-bottom: 0.5em;
	margin-right: 1em;
	border: 1px solid var(--color-link);
	font-family: var(--link-font-family);
	min-width: 1.75em;
	line-height: 1.75;
	text-align: center;
	text-decoration: none;
}

.pagination a:visited {
	color: var(--color-link);
}

.pagination a:hover,
.pagination a:focus,
.pagination a:active {
	border-color: #00a0d2;
}

.pagination .prev,
.pagination .next {
	min-width: auto;
	border-color: transparent;
	text-decoration: underline;
}

.pagination .prev:hover,
.pagination .prev:focus,
.pagination .prev:active,
.pagination .next:hover,
.pagination .next:focus,
.pagination .next:active {
	border-color: transparent;
}

.pagination .dots {
	min-width: auto;
	border: none;
}

.pagination .current {
	border-color: var(--global-font-color);
	background-color: #000;
	color: #fff;
}

.nav-links {
	& .screen-reader-text {
		display: none;
	}

	& .nav-previous {
		grid-column: 1/span 2;
	}

	& .nav-next {
		text-align: right;
		grid-column: 11/span 2;
	}
}

@media (--narrow-menu-query) {
	.nav-links {
		img {
			width: 100%;
		}

		& .nav-previous {
			grid-column: 1/span 4;
		}

		& .nav-next {
			text-align: right;
			grid-column: 9/span 4;
		}
	}
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.site-footer {
	margin-top: 1em;
}

.copyright {
	background-color: #f0f0ec;
	padding: 0.75rem 0;
}

.widget div.ctct-form-embed div.ctct-form-defaults p.ctct-gdpr-text,
.widget div.ctct-form-embed form.ctct-form-custom label.ctct-form-label {
	font-size: 0.75rem;
	color: #6e6e6e;
	font-family: jost_l, Roboto Condensed, Helvetica Neue, Arial Narrow, sans-serif;
	margin-bottom: 0.5rem;
}

.widget div.ctct-form-embed div.ctct-form-defaults {
	padding: 0;
	font: 16px jost_l, Arial, sans-serif;

	line-height: normal;
	line-height: 1.5;
}

.widget div.ctct-form-embed form.ctct-form-custom button.ctct-form-button {
	border-radius: 0;
}

.widget div.ctct-form-embed form.ctct-form-custom div.ctct-form-field {
	margin: 0 0 0.5rem 0;
}

.widget .ctct-form-wrapper {
	margin-top: 1rem;

	& p {
		margin-top: 0;
	}
}

.widget div.ctct-form-embed div.ctct-form-defaults p.ctct-form-footer {
	display: none;
	visibility: hidden;
}

.ctct-inline-form .g-recaptcha {
	display: none !important;
}

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/

/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation,
.infinite-scroll .pagination,
.infinite-scroll.neverending .site-footer {

	/* Theme Footer (when set to scrolling) */
	display: none;
}

.fa-spin {
	animation: fa-spin 2s infinite linear;
}

@keyframes fa-spin {

	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

/* When Infinite Scroll has reached its end we need to re-display elements that
were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
	display: block;
}

.fa-instagram::before {
	content: "\f16d";
}

.fa-play-circle::before {
	content: "\f144";
}

.instagram-link {
	& a {
		font-size: 20px;
		font-family: jost_l;
	}
}

.schema-faq-question {
	font-size: 1.25rem;
	color: #000;
	border-bottom: 1px solid #000;
}

.page-id-2707 {
	& .entry-content {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		grid-gap: 1rem;

	}
}

/* ERROR 404 */

.error {
	& img {
		margin: 0 auto;
	}
}
