/* SINGLE PRODUCTS */

.related-products-container,
.widget,
.menu-toggle,
.product-specs,
.product-inquiry-container,
.slick-dots {
	display: none !important;
}

#text-11 {
	display: block !important;
	width: 300px;
	grid-area: one;
}

.sticky-header.white-bg,
.sticky-header {
	box-shadow: none;
}

.single-image {
	& img {
		max-width: 50%;
	}
}
