.related-products-container {
	max-width: 1200px;
	padding: 0 var(--global-spacing-x);
	margin: 2rem auto;

}

.related-product {
	& img {
		max-width: 150px;
	}
}

.related-products {
	grid-template-columns: repeat(auto-fit, minmax(0, 1fr));

	& .slick-slide {
		&>div {
			width: 150px;
			display: block;
			margin: 0 auto;
		}
	}

	& .slick-arrow {
		font-size: 2rem;
		display: inline-block !important;
		width: 2.5rem;
		height: 2.5rem;
		text-align: center;
		line-height: 2.5rem;
		position: absolute;
		top: calc(50% - 2.5rem);
	}

	& .slick-prev {
		left: 0;
	}

	& .slick-next {
		right: 0;
	}

	& .slick-list {
		width: calc(100% - 5rem);
		display: inline-block;
		position: relative;
	}
}

.related-product {
	display: inline;

	& a {
		display: block;
	}

	& img {
		margin: 0 auto;
	}

	& h2 {
		font-size: 1rem;
		font-weight: 400;
		margin-bottom: 0;
	}
}

.slick-disabled {
	opacity: 0;
}

@media (--narrow-menu-query) {

	.related-products {
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}
}
