@font-face {
	font-family: "jost_l";
	src: url('../fonts/Jost-Light.eot');
	src:
		url('../fonts/Jost-Light.eot?#iefix') format("embedded-opentype"),
		url('../fonts/Jost-Light.woff2') format("woff2"),
		url('../fonts/Jost-Light.woff') format("woff"),
		url('../fonts/Jost-Light.ttf') format("truetype");
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: josthairline;
	src: url('../fonts/jost-100-hairline.eot');
	src:
		url('../fonts/jost-100-hairline.eot?#iefix') format('embedded-opentype'),
		url('../fonts/jost-100-hairline.woff2') format('woff2'),
		url('../fonts/jost-100-hairline.woff') format('woff'),
		url('../fonts/jost-100-hairline.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: jostthin;
	src: url('../fonts/jost-200-thin.eot');
	src:
		url('../fonts/jost-200-thin.eot?#iefix') format('embedded-opentype'),
		url('../fonts/jost-200-thin.woff2') format('woff2'),
		url('../fonts/jost-200-thin.woff') format('woff'),
		url('../fonts/jost-200-thin.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

body {
	background-color: #fff;
	font-family: "jost_l", sans-serif;
}

#login {
	width: 1000px;
	max-width: 50%;
	padding: 0;
	margin: 0 auto;

	& p {
		text-align: center;
	}
}

#loginform {
	width: 320px;
	margin: 0 auto;
	box-shadow: 0 0 3px rgba(0, 0, 0, .13);
}

.login {
	& h1 {
		& a {
			background-image: url('../images/svg-logo.svg');
			background-repeat: no-repeat;
			background-position: center;
			width: 100%;
			height: 300px;
			background-size: 100%;
			margin-bottom: 0;
		}
	}
}

.wp-core-ui .button-primary {
	background: #6e6e6e;
	box-shadow: 0;
	color: #fff;
	text-decoration: none;
	text-shadow: 0;
	border-radius: 0;
	border: 0;

	&:hover {
		background-color: #878787;
	}

}
