.s22_product {
	grid-template-columns: minmax(0, 1fr) 1fr;
	grid-template-areas:
		'header header'
		'images content'
		'related related';
	grid-column-gap: 2rem;

	& .entry-header {
		grid-area: header;
	}

	& .entry-content {
		grid-area: content;
	}
}

.product-dimensions {
	margin-bottom: 1.5rem;

	& h2 {
		font-family: var(--global-font-family);
		font-size: var(--font-size-regular);
		margin-bottom: 0.25rem;
	}

	& ul {
		font-family: var(--global-font-family);
	}
}

.s22_product-images {
	grid-area: images;
}

.spec-details {
	margin-bottom: 1.5rem;

	& p {
		line-height: 1;
	}
}

.spec-title {
	margin-bottom: 1rem;
	font-weight: bold;
}

.slick-dotted {
	margin-bottom: 30px;
}

.slick-dots {
	position: absolute;
	bottom: -25px;
	display: block;
	width: 100%;
	padding: 0;
	margin: 0;
	list-style: none;
	text-align: center;
}

.slick-dots li {
	position: relative;
	display: inline-block;
	width: 25px;
	height: 20px;
	margin: 0 5px;
	padding: 0;
	cursor: pointer;
}

.slick-dots li button {
	font-size: 0;
	line-height: 0;
	display: block;
	width: 20px;
	height: 20px;
	padding: 5px;
	cursor: pointer;
	color: transparent;
	border: 0;
	outline: none;
	background: transparent;
}

.slick-dots li button:hover,
.slick-dots li button:focus {
	outline: none;
}

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
	opacity: 1;
}

.slick-dots li button::before {
	font-family: 'fa_reg';
	font-size: 20px;
	line-height: 25px;
	position: absolute;
	top: 0;
	left: 0;
	width: 25px;
	height: 25px;
	content: '\f2f8';
	text-align: center;
	opacity: .25;
	color: #000;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button::before {
	opacity: 0.75;
	color: #000;
}

@media (--narrow-menu-query) {

	.s22_product {
		grid-template-columns: minmax(0, 1fr);
		grid-template-areas:
			'header'
			'images'
			'content'
			'related';
	}
}

/* CALDERA FORM */

.entry-content .form_launch {
	background-color: #fff;
	color: #000;
	border: 1px solid #000;
	text-transform: uppercase;
	margin-top: 2rem;
	display: inline-block;

	&:hover {
		background-color: #eee;
		color: #000;
	}

	&:visited {
		color: #000;
	}
}

.form-inner {
	position: relative;

	& .form_close {
		position: absolute;
		top: 1rem;
		right: 1rem;
		line-height: 1;
	}
}

.form-inquiry-container {
	display: grid;
	visibility: hidden;
	opacity: 0;
	position: fixed;
	top: 0;
	bottom: 0;
	width: 100%;
	background: rgba(0, 0, 0, 0.25);
	z-index: 10000;
	justify-content: center;
	align-items: center;
	transition: all 0.3s ease-in-out;

	& .form-inner {
		width: 80vw;
		max-width: 400px;
		margin: 0 auto;
		background-color: #fff;
		padding: 2rem;
	}

	&.open {
		visibility: visible;
		opacity: 1;
	}

	& img {
		max-width: 120px;
	}
}

.fa-times-circle::before {
	content: "\f057";
	font-size: 2rem;
}
