.installation_post {

	& .col-12 {
		max-width: 100% !important;
		display: inline-block !important;
	}

	& .block {
		width: calc(100vw - 1.875rem);
		max-width: calc(1200px - 1.875rem);
		/* width: 100%; */
	}
}

.post-nav-thumb {
	& img {
		display: inline-block;
	}
}

/* .slick-list {
	width: 100%;
} */

.slick-arrow {
	width: 20px !important;
	display: inline-block !important;
}

.slick-dotted {
	margin-bottom: 30px;
}

.slick-dots {
	position: absolute;
	bottom: -25px;
	display: block;
	width: 100%;
	padding: 0;
	margin: 0;
	list-style: none;
	text-align: center;
}

.slick-dots li {
	position: relative;
	display: inline-block;
	width: 20px;
	height: 20px;
	margin: 0 5px;
	padding: 0;
	cursor: pointer;
}

.slick-dots li button {
	font-size: 0;
	line-height: 0;
	display: block;
	width: 20px;
	height: 20px;
	padding: 5px;
	cursor: pointer;
	color: transparent;
	border: 0;
	outline: none;
	background: transparent;
}

.slick-dots li button:hover,
.slick-dots li button:focus {
	outline: none;
}

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
	opacity: 1;
}

.slick-dots li button::before {
	font-family: 'fa_reg';
	font-size: 15px;
	line-height: 20px;
	position: absolute;
	top: 0;
	left: 0;
	width: 20px;
	height: 20px;
	/* content: '•'; */
	content: '\f2f8';
	text-align: center;
	opacity: .25;
	color: #000;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button::before {
	opacity: 0.75;
	color: #000;
}

.single-image {
	& img {
		margin: 0 auto;
	}
}
